# .coveragerc to control coverage.py
[run]
branch = True

# TODO: the flask API is not being used and will probably be removed. Thus, we ignore it for testing for now.
omit = longitude/core/tests/*, **/__init__.py, longitude/samples/**, longitude/core/rest_api/flask.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True
fail_under = 85
show_missing = True

[html]
title = Longitude Core Coverage
directory = coverage_html_report
